<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>BundleHasStrictIdentifier</key>
    <true/>
    <key>BundleIsRelocatable</key>
    <true/>
    <key>BundleIsVersionChecked</key>
    <false/>
    <key>BundleOverwriteAction</key>
    <string>upgrade</string>
    <!-- Specify valid component paths -->
    <key>RootRelativeBundlePath</key>
    <string>osqueryd/osqueryd.app</string>
    <key>BundlePath</key>
    <string>/usr/local/bin/osqueryd.app</string>
  </dict>
</array>
</plist>
